body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

article{
    min-height: 100vh;
    margin: auto;
    min-width: 50vw;
    text-align: center;
}

nav{
    width: 100%;
    min-height: 1vh;
    padding: 12px 24px; 
    box-sizing: border-box;
}

nav a{
    display: block;
    float: right;
    padding: 5px 12px;
    text-decoration: none;
    color: #444;
}

nav a:hover{
    color: #555;
    text-decoration: underline;
}

nav #signup{
    border: 1px solid #999;
    border-radius: 22px;
}

#centerpiece{
    color: #444;
    overflow: hidden;
    margin-top: 24vh;
    padding-bottom: 1vh;
}

#centerpiece #logo{
    opacity: 0;
    display: block;
    margin: auto;
    height: 16vh;

    -webkit-animation: fadein 3s 1s forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s 1s forwards; /* Firefox < 16 */
        -ms-animation: fadein 3s 1s forwards; /* Internet Explorer */
         -o-animation: fadein 3s 1s forwards; /* Opera < 12.1 */
            animation: fadein 3s 1s forwards;
}

#centerpiece h1{
    display: block;
    font-size: 4vh;

    -webkit-animation: fadein 3s forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s forwards; /* Firefox < 16 */
        -ms-animation: fadein 3s forwards; /* Internet Explorer */
         -o-animation: fadein 3s forwards; /* Opera < 12.1 */
            animation: fadein 3s forwards;
}

#search input[type="text"]{
    padding: 4px 12px;
    padding-left: 24px;
    min-width: 25vw;
    height: 24px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 3px;
    border-right-width: 0;
    border-top-color: #350d3a;
    border-left-color: #350d3a;
    border-bottom-color: #999;
    border-right-color: #999;

    color: #444;
    font-size: 1.1em;
}

#search input[type="submit"], #search input[type="submit"]:visited{
    display: inline-block;
    box-sizing: content-box;
    min-width: 10vw;
    height: 24px;
    padding: 4px 0px;
    background-color: #350d3a;
    color: white;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 3px transparent solid;

    transition-duration: 0.24s;
    font-size: 1.1em;
}

#search input[type="submit"]:hover, #search input[type="submit"]:focus{
    transition-duration: 0.07s;
    background-color: #350d3abb;
}

#search input[type="submit"]:active{
    background-color: #350d3a;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}