body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

article{
    min-height: 100vh;
    margin: auto;
    min-width: 50vw;
    text-align: center;
}

#centerpiece{
    color: #444;
    overflow: hidden;
    margin-top: 24vh;
    padding-bottom: 1vh;
}

#centerpiece #logo{
    display: block;
    margin: auto;
    height: 16vh;
}

#centerpiece h1{
    display: block;
    font-size: 4vh;
}

#search input[type="text"]{
    padding: 4px 12px;
    padding-left: 24px;
    min-width: 25vw;
    height: 24px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 3px;
    /* border-right-width: 0; */
    border-top-color: #350d3a;
    border-left-color: #350d3a;
    border-bottom-color: #999;
    border-right-color: #999;
}

#search input[type="submit"], #search input[type="submit"]:visited{
    display: inline-block;
    box-sizing: content-box;
    min-width: 10vw;
    height: 24px;
    padding: 4px 0px;
    background-color: #350d3add;
    color: white;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 3px transparent solid;
}

#search input[type="submit"]:hover, #search input[type="submit"]:focus{
    background-color: #350d3aaa;
}

#search input[type="submit"]:active{
    background-color: #350d3a;
}