.card-wrapper{
    margin: 50px;
    display: block;
    float: left;
}

.card-wrapper a{
    color: #000;
    text-decoration: none;
}

.card-wrapper article{
    display: block;
    border: 3px solid rgba(0,0,0,0.1);
    /* border-right-width: 0; */
    border-bottom-width: 0;
    box-shadow: 8px 5px 5px rgba(0,0,0,0.2);
}

img.label{
    object-fit: cover;
    padding: 0px;
    margin: 0px;
    display: block;
}

section.card-body{
    display: block;
    padding: 8px;
    background-color: #dcdcdc;
    height: 240px;
}

.card-wrapper h1{
    font-size: 32px;
    margin: 8px;
}

.card-wrapper p{
    height: 78px;
    line-height: 1.5em;
    font-size: 18px;
    text-overflow: ellipsis;
}

.edit{
    position: relative;
    z-index: 5;
    font-size: 1em;
    line-height: 1em;
    border-radius: 100%;
    padding: 5px;
    background-color: #4430ff;
    color: white;
    border: 2px solid white;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    top: 0.5em;
    left: -1em;
}

.edit i{
    color: #eee;
}

.delete{
    position: relative;
    z-index: 5;
    font-size: 1em;
    line-height: 1em;
    border-radius: 100%;
    padding: 5px 7px;
    background-color: #ff3044;
    color: white;
    border: 2px solid white;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    top: 0.5em;
    left: -1em;
}

.delete i{
    color: #eee;
}